/* =======================
Colors
======================= */

$orange: #ff5000;
$chili: #cb3524;
$slate: #333d47;
$slate--light: lighten($slate, 70%);
$teal: #6edad5;
$mocha: #96785d;



/* =======================
Typography
======================= */

$font-stack: 'Futura LT Book', helvetica, arial, sans-serif;



/* =======================
Global styles
======================= */

body {
  color: $slate;
  font-family: $font-stack;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura LT Bold';
}

a {
  color: $orange;
  &:focus {
    outline: $orange auto 5px;
  }
}
