/* =======================
Resets
======================= */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

button,
input {
  -webkit-appearance: none;
  font: inherit;
}



/* =======================
Colors
======================= */

:root {
  --orange: #ff5000;
  --chili: #cb3524;
  --slate: #333d47;
  --teal: #6edad5;
  --mocha: #96785d;
}



/* =======================
Global styles
======================= */

body {
  color: var(--slate);
  font-family: 'Futura LT Book', helvetica, arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura LT Bold';
}

a {
  color: var(--orange);
}

.btn {
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  margin: 1em;
  padding: 0.5em 1em;
}

.btn--primary {
  background-color: var(--orange);
  border-color: var(--orange);
  color: #fff;
}

.btn--primary:hover {
  filter: brightness(0.95);
}

.btn--secondary {
  background-color: #fff;
  border-color: var(--orange);
  color: var(--orange);
}

.btn--secondary:hover {
  background-color: var(--orange);
  border-color: var(--orange);
  color: #fff;
}

.main-button {
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.app-container {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}



/* =======================
Nav
======================= */

nav {
  background-color: #e7e8e9;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  position: absolute;
  width: 100%;
}



/* =======================
Home
======================= */

.logo h1 {
  display: none;
}



/* =======================
User form
======================= */

.user-form__label,
.user-form__input {
  display: block;
}



/* =======================
Media queries
======================= */

@media (min-width: 600px) {
  nav {
    position: relative;
  }
}
