nav {
  background-color: $slate--light;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  position: absolute;
  width: 100%;
}



/* =======================
Media queries
======================= */

@media (min-width: 600px) {
  nav {
    position: relative;
  }
}
